@import url('https://fonts.googleapis.com/css2?family=Besley:ital,wght@0,400;1,900&display=swap');
body {
    margin: 0;
    background: #eee;
    font-family: besley, serif;
}
.header {
    background: white;
    border-bottom: solid #ddd;
    box-shadow: 0 0 8px rgba(0,0,0,.1);
}
.profile-image {
    background: rebeccapurple;
    box-shadow: inset 2px 2px 4px rgba(0,0,0,.1);
    border-radius: 50%;
    width: 48px;
    height: 48px;

}
.logo {
    color: rebeccapurple;
    font-size: 32px;
    font-weight: 900;
    font-style: italic;
    }
 button {
    color: white;
    background-color: rebeccapurple;
    border-radius: 28px;
    border: none;
    padding: 8px 24px;

 }
 ul {
    list-style: none;
 }
 a {
    text-decoration: none;
    color: rebeccapurple;
 }

 .header {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    box-shadow: 4px black;
     }
    ul {
        display: flex;
        margin: 0;
        padding:0;
        gap: 16px;

    }
    .left, .right {
        display: flex;
        align-items: center;
        gap: 16px;
    }